---
layout: default
---

{% for post in paginator.posts %}
<div class="article">
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
        <div align="left">
          <h3>Data da publicação: {{ post.date | date: "%d/%m/%Y" }}</h3>
          {% if post.update != 0 %}
          <h3>Data da última atualização: {{ post.update | date: "%d/%m/%Y" }}</h3>
          {% endif %}
          <h3>Autor: {{ post.author }}</h3>
          <h3>Tags: {{ post.tags }}</h3>
        </div>
        {% if site.comments and post.comments %}
            {% if site.disqus != '' %}
            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comentários</a></p>
            {% elsif site.isso != '' %}
            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comentários</a></p>
            {% endif %}
        {% endif %}
        <hr>
        <div class="content">
            {{ post.excerpt }}
        </div>
        <div align="right">
          <h2><a href="{{ site.baseurl}}{{ post.url }}">Ler mais...</a></h2>
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Mais recente</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Mais recente</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Página: {{ paginator.page }} de {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Mais antigo</a>
  {% endif %}
</div>
